* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* NAVBAR */
.header {
  background: #111827;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logo {
  color: #38bdf8;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* SECTIONS */
.section {
  padding: 100px 0;
}

.hero {
  padding-top: 140px;
  text-align: center;
  background: #1e293b;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* CARDS */
.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #273449;
}

/* LINKS */
a {
  color: #38bdf8;
}
